/*!////////////////////////////////////////////////
// BASE
/////////////////////////////////////////////////*/
@-o-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html,
body,
iframe,
div,
section,
header,
p,
a,
ul,
ol,
li,
article,
footer,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.rwd-table {
  margin: 1em 0;
  min-width: 300px; }
  .rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  .rwd-table th {
    display: none; }
  .rwd-table td {
    display: block; }
    .rwd-table td:first-child {
      padding-top: .5em; }
    .rwd-table td:last-child {
      padding-bottom: .5em; }
    .rwd-table td:before {
      content: attr(data-th) ": ";
      font-weight: bold;
      width: 6.5em;
      display: inline-block; }
      @media (min-width: 480px) {
        .rwd-table td:before {
          display: none; } }
  .rwd-table th, .rwd-table td {
    text-align: left; }
    @media (min-width: 480px) {
      .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em; }
        .rwd-table th:first-child, .rwd-table td:first-child {
          padding-left: 0; }
        .rwd-table th:last-child, .rwd-table td:last-child {
          padding-right: 0; } }

/*!////////////////////////////////////////////////
// LAYOUT
/////////////////////////////////////////////////*/
.wrap {
  max-width: 1280px;
  width: 92%;
  margin: 0px auto;
  position: relative; }

.row {
  clear: both; }

@media screen and (min-width: 480px) {
  .wrap {
    width: 98%; }

  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-half,
  .grid-full,
  .grid-25,
  .grid-unit {
    float: left;
    width: 100%; }
    .grid-1:nth-child(n),
    .grid-2:nth-child(n),
    .grid-3:nth-child(n),
    .grid-4:nth-child(n),
    .grid-5:nth-child(n),
    .grid-6:nth-child(n),
    .grid-half:nth-child(n),
    .grid-full:nth-child(n),
    .grid-25:nth-child(n),
    .grid-unit:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-1:nth-of-type(1n),
    .grid-2:nth-of-type(1n),
    .grid-3:nth-of-type(1n),
    .grid-4:nth-of-type(1n),
    .grid-5:nth-of-type(1n),
    .grid-6:nth-of-type(1n),
    .grid-half:nth-of-type(1n),
    .grid-full:nth-of-type(1n),
    .grid-25:nth-of-type(1n),
    .grid-unit:nth-of-type(1n) {
      margin-right: 0; }
    .grid-1:last-child,
    .grid-2:last-child,
    .grid-3:last-child,
    .grid-4:last-child,
    .grid-5:last-child,
    .grid-6:last-child,
    .grid-half:last-child,
    .grid-full:last-child,
    .grid-25:last-child,
    .grid-unit:last-child {
      margin-right: 0; }

  .gallery .grid-unit,
  .grid-half {
    width: 49.24242%; }
    .gallery .grid-unit:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .gallery .grid-unit:nth-of-type(2n),
    .grid-half:nth-of-type(2n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .grid-flow-opposite {
    float: right; } }
@media screen and (min-width: 640px) {
  .grid-1 {
    width: 15.40404%; }
    .grid-1:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-1:nth-of-type(6n) {
      margin-right: 0; }
    .grid-1:last-child {
      margin-right: 0; }

  .grid-2 {
    width: 32.32323%; }
    .grid-2:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-2:nth-of-type(3n) {
      margin-right: 0; }
    .grid-2:last-child {
      margin-right: 0; }

  .grid-3,
  .grid-half {
    width: 49.24242%; }
    .grid-3:nth-child(n),
    .grid-half:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-3:nth-of-type(2n),
    .grid-half:nth-of-type(2n) {
      margin-right: 0; }
    .grid-3:last-child,
    .grid-half:last-child {
      margin-right: 0; }

  .grid-4 {
    width: 66.16162%; }
    .grid-4:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-4:nth-of-type(1.5n) {
      margin-right: 0; }
    .grid-4:last-child {
      margin-right: 0; }

  .grid-5 {
    width: 82.74242%; }
    .grid-5:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-5:nth-of-type(1.20482n) {
      margin-right: 0; }
    .grid-5:last-child {
      margin-right: 0; }

  .grid-6,
  .grid-full {
    width: 100%; }
    .grid-6:nth-child(n),
    .grid-full:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-6:nth-of-type(1n),
    .grid-full:nth-of-type(1n) {
      margin-right: 0; }
    .grid-6:last-child,
    .grid-full:last-child {
      margin-right: 0; }

  /* If there are no margins */
  .grid-1.no-margin {
    width: 16.66667%; }
    .grid-1.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-1.no-margin:nth-of-type(6n) {
      margin-right: 0; }
    .grid-1.no-margin:last-child {
      margin-right: 0; }

  .grid-2.no-margin {
    width: 33.33333%; }
    .grid-2.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-2.no-margin:nth-of-type(3n) {
      margin-right: 0; }
    .grid-2.no-margin:last-child {
      margin-right: 0; }

  .grid-3.no-margin,
  .grid-half.no-margin {
    width: 50%; }
    .grid-3.no-margin:nth-child(n),
    .grid-half.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-3.no-margin:nth-of-type(2n),
    .grid-half.no-margin:nth-of-type(2n) {
      margin-right: 0; }
    .grid-3.no-margin:last-child,
    .grid-half.no-margin:last-child {
      margin-right: 0; }

  .grid-4.no-margin {
    width: 66.66667%; }
    .grid-4.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-4.no-margin:nth-of-type(1.5n) {
      margin-right: 0; }
    .grid-4.no-margin:last-child {
      margin-right: 0; }

  .grid-5.no-margin {
    width: 83.0%; }
    .grid-5.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-5.no-margin:nth-of-type(1.20482n) {
      margin-right: 0; }
    .grid-5.no-margin:last-child {
      margin-right: 0; }

  .grid-6.no-margin,
  .grid-full.no-margin {
    width: 100%; }
    .grid-6.no-margin:nth-child(n),
    .grid-full.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-6.no-margin:nth-of-type(1n),
    .grid-full.no-margin:nth-of-type(1n) {
      margin-right: 0; }
    .grid-6.no-margin:last-child,
    .grid-full.no-margin:last-child {
      margin-right: 0; }

  .grid-25 {
    width: 23.86364%; }
    .grid-25:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .grid-25:nth-of-type(4n) {
      margin-right: 0; }
    .grid-25:last-child {
      margin-right: 0; }

  .grid-25.no-margin {
    width: 25%; }
    .grid-25.no-margin:nth-child(n) {
      margin-bottom: 0;
      margin-right: 0; }
    .grid-25.no-margin:nth-of-type(4n) {
      margin-right: 0; }
    .grid-25.no-margin:last-child {
      margin-right: 0; }

  .gallery .grid-unit {
    width: 32.32323%; }
    .gallery .grid-unit:nth-child(n) {
      margin-bottom: 1.51515%;
      margin-right: 1.51515%; }
    .gallery .grid-unit:nth-of-type(3n) {
      margin-right: 0; }
    .gallery .grid-unit:last-child {
      margin-right: 0; }

  .content-pad-right {
    padding-right: 4%;
    /* Use (or don't) as necessary. */ }

  .content-pad-left {
    padding-left: 4%; } }
/*!////////////////////////////////////////////////
// THEME
/////////////////////////////////////////////////*/
.section__title {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 600px;
  margin: 0 auto -44px;
  background-color: #c9de16;
  font-family: "alternate-gothic-no-2-d", sans-serif;
  font-size: 2.375em;
  font-weight: normal;
  line-height: 1em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0 15px; }
  @media screen and (min-width: 600px) {
    .section__title {
      font-size: 3.625em;
      margin: -44px auto -44px;
      padding: 20px 0 10px; } }

*[class^="button"] {
  display: inline-block;
  background-color: #ff7e00;
  font-family: "adelle", serif;
  font-size: 1.125em;
  font-weight: normal;
  line-height: 1.0em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 20px 13px;
  margin-top: 30px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  *[class^="button"]:hover, *[class^="button"]:focus {
    background-color: #cc6500; }

.button--sidebar {
  background-color: #ff7e00;
  margin-top: 0;
  width: 100%;
  font-size: 1.75em;
  text-align: center;
  padding: 30px 20px; }
  .button--sidebar i {
    font-size: 0.7em;
    color: #fff;
    text-transform: lowercase;
    display: block; }
  .button--sidebar b {
    display: inline-block;
    font-weight: normal;
    color: #fff; }

.hero__page {
  background-image: url(../img/hero-page.jpg);
  background-position: center top;
  background-size: cover;
  min-height: 477px;
  text-align: center; }
  .hero__page h1 {
    margin-top: 180px;
    background-color: #252525;
    display: inline-block;
    font-family: "alternate-gothic-no-2-d", sans-serif;
    font-size: 2.625em;
    font-weight: normal;
    line-height: 1.0em;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 20px 8px;
    margin-bottom: 20px; }
    @media screen and (min-width: 700px) {
      .hero__page h1 {
        font-size: 5.75em;
        padding: 15px 20px 0px; } }

.page__description {
  width: 100%;
  max-width: 1035px;
  font-family: "adelle", serif;
  font-size: 1.125em;
  font-weight: normal;
  color: #fff;
  line-height: 1.8em;
  text-align: center;
  margin: 0 auto;
  padding: 0 5%; }
  @media screen and (min-width: 700px) {
    .page__description {
      font-size: 1.625em;
      padding: 0 5%; } }

.hero__page--about {
  text-align: center;
  margin-top: 100px;
  padding-bottom: 60px; }
  .hero__page--about h1 {
    margin-top: 60px;
    background-color: #252525;
    display: inline-block;
    font-family: "alternate-gothic-no-2-d", sans-serif;
    font-size: 2.625em;
    font-weight: normal;
    line-height: 1.0em;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 20px 8px;
    margin-bottom: 20px; }
    @media screen and (min-width: 700px) {
      .hero__page--about h1 {
        font-size: 5.75em;
        padding: 15px 20px 0px; } }
  .hero__page--about .page__description {
    color: #252525; }

/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
html,
body {
  height: 100%; }

#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url(polina.jpg) no-repeat;
  background-size: cover;
  display: none; }
  @media screen and (min-width: 960px) {
    #bgvid {
      display: block; } }

/*! Header
/////////////////////////////////////////////////*/
header[role=banner] {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 4;
  padding: 30px 5%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0); }

.branding {
  display: inline-block;
  width: 100%;
  max-width: 253px;
  float: left; }

nav[role=navigation] {
  float: right;
  margin-top: 8px;
  display: none; }
  @media screen and (min-width: 942px) {
    nav[role=navigation] {
      display: block; } }
  nav[role=navigation] a {
    font-family: "alternate-gothic-no-2-d", sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    color: #252525;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 25px; }

/*! Hero unit
/////////////////////////////////////////////////*/
.hero {
  position: relative;
  height: 100%;
  background-color: rgba(42, 91, 179, 0.8); }

.tagline {
  position: absolute;
  bottom: 10%;
  left: 5%;
  font-size: 45%; }
  @media screen and (min-width: 700px) {
    .tagline {
      font-size: 100%; } }
  .tagline i,
  .tagline b {
    background-color: #252525;
    display: inline-block;
    font-family: "alternate-gothic-no-2-d", sans-serif;
    font-weight: normal;
    line-height: 1.0em;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 20px 5px; }
  .tagline i {
    font-size: 5em;
    font-style: normal;
    margin-bottom: 20px; }
  .tagline b {
    font-size: 7.25em;
    padding: 15px 20px 0px;
    margin-bottom: 20px; }

.button__cta,
.phone {
  display: inline-block;
  font-family: "alternate-gothic-no-2-d", sans-serif;
  font-size: 3em;
  font-weight: normal;
  line-height: 1.0em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 20px 5px; }

@media screen and (max-width: 700px) {
  .button__cta {
    font-size: 4.8em;
    margin-top: 0; } }

.phone {
  position: fixed;
  top: 105px;
  right: 5%;
  background-color: #c9de16;
  font-size: 1.875em;
  color: #fff;
  z-index: 5;
  padding: 10px 20px 5px;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05); }
  .phone a {
    color: #fff;
    text-decoration: none; }

.button__cta {
  background-color: #c9de16; }
  .button__cta:hover, .button__cta:focus {
    background-color: #9fb011; }

/*! Content module
/////////////////////////////////////////////////*/
*[class^="content"] {
  background-color: #fff;
  padding: 160px 5%; }

.content__intro {
  padding: 50px 2.5% 0;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .content__intro {
      padding: 100px 10% 0; } }
  .content__intro img {
    width: 100%;
    max-width: 1023px; }

.content__services {
  background-color: #2a5bb3; }

.content__portfolio,
.content__services {
  padding: 80px 5% 40px; }
  @media screen and (min-width: 600px) {
    .content__portfolio,
    .content__services {
      padding: 160px 10%; } }

.content__portfolio {
  position: relative;
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.35);
  z-index: 1; }

.intro__sentence {
  width: 100%;
  max-width: 1180px;
  font-family: "adelle", serif;
  font-size: 1.625em;
  font-weight: normal;
  text-align: center;
  margin: 0 auto 60px; }
  @media screen and (min-width: 750px) {
    .intro__sentence {
      font-size: 1.875em; } }
  @media screen and (min-width: 960px) {
    .intro__sentence {
      font-size: 2.5em; } }
  .intro__sentence a {
    color: #2a5bb3;
    text-decoration: none; }

/*! Home page services
/////////////////////////////////////////////////*/
*[class^="service--"] {
  position: relative;
  background-color: #fff;
  margin: 0 0 30px; }
  *[class^="service--"] h3 {
    font-family: "adelle", serif;
    font-size: 1.75em;
    font-weight: normal;
    color: #252525;
    text-transform: uppercase;
    margin-bottom: 20px; }
    @media screen and (min-width: 700px) {
      *[class^="service--"] h3 {
        font-size: 2.375em;
        margin-bottom: 0px; } }

.service__sub {
  margin-bottom: 20px; }
  .service__sub a {
    display: inline-block;
    background-color: #ff7e00;
    padding: 10px 15px 8px;
    font-family: "adelle", serif;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 5px 10px 0; }

.service__graphic {
  display: none;
  vertical-align: middle;
  overflow: hidden;
  height: 440px; }
  .service__graphic img {
    display: block;
    width: auto;
    height: 100%; }
  @media screen and (min-width: 1075px) {
    .service__graphic {
      width: 33.33333%;
      display: inline-block; }
      .service__graphic:nth-child(n) {
        margin-bottom: 0;
        margin-right: 0; }
      .service__graphic:nth-of-type(3n) {
        margin-right: 0; }
      .service__graphic:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1480px) {
    .service__graphic {
      height: auto; }
      .service__graphic img {
        width: 100%;
        height: auto; } }

.service__details {
  display: block;
  vertical-align: middle;
  width: 100%;
  padding: 30px; }
  .service__details:nth-child(n) {
    margin-bottom: 0;
    margin-right: 0; }
  .service__details:nth-of-type(1n) {
    margin-right: 0; }
  .service__details:last-child {
    margin-right: 0; }
  .service__details p {
    font-family: "adelle", serif;
    font-size: 1.125em;
    color: #252525;
    line-height: 1.6em; }
  @media screen and (min-width: 1075px) {
    .service__details {
      width: 66.66667%;
      display: inline-block; }
      .service__details:nth-child(n) {
        margin-bottom: 0;
        margin-right: 0; }
      .service__details:nth-of-type(1.5n) {
        margin-right: 0; }
      .service__details:last-child {
        margin-right: 0; } }

.service--design .service__sub a {
  background-color: #ff7e00;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.service--design .service__sub a:hover,
.service--design .service__sub a:focus {
  background-color: #cc6500; }

.service--development .service__sub a {
  background-color: #b988df;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.service--development .service__sub a:hover,
.service--development .service__sub a:focus {
  background-color: #a160d4; }

.service--marketing .service__sub a {
  background-color: #24cce9;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

.service--marketing .service__sub a:hover,
.service--marketing .service__sub a:focus {
  background-color: #14acc6; }

/*! Case Studies
/////////////////////////////////////////////////*/
.case-study {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border-bottom: 3px solid #e9e9e9;
  padding: 40px 0; }

.case-study__info,
.case-study__graphic {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.case-study__info {
  width: 100%;
  padding: 0 20px;
  margin: 20px 0; }
  @media screen and (min-width: 900px) {
    .case-study__info {
      width: 45%;
      margin: 0; } }
  .case-study__info h3 {
    font-family: "alternate-gothic-no-2-d", sans-serif;
    font-size: 2.875em;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.0em; }
  .case-study__info .case-study__type {
    display: block;
    font-family: "adelle", serif;
    font-size: 1.375em;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .case-study__info p {
    font-family: "adelle", serif;
    font-size: 1.125em;
    color: #252525;
    line-height: 1.6em; }

.case-study__graphic {
  width: 100%;
  padding: 0 20px;
  margin: 20px 0; }
  @media screen and (min-width: 900px) {
    .case-study__graphic {
      width: 55%;
      margin: 0; } }
  .case-study__graphic img {
    width: 100%; }

/*! Stats
/////////////////////////////////////////////////*/
.content__stats {
  padding: 80px 8%;
  background-image: url(../img/stats-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

@media screen and (max-width: 960px) {
  .tagline__bottom {
    width: 100%;
    margin-bottom: 40px !important; } }
.tagline__bottom p {
  font-family: "adelle", serif;
  font-size: 1.25em;
  font-weight: normal;
  color: #fff;
  line-height: 1.8em;
  -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
  -moz-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
  -o-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45); }
  @media screen and (min-width: 600px) {
    .tagline__bottom p {
      font-size: 1.875em; } }

.stat__ui {
  position: relative; }

.stat__ui--inner {
  position: relative;
  text-align: center;
  padding: 40px 20px 20px;
  z-index: 2; }
  .stat__ui--inner h4 {
    font-family: "alternate-gothic-no-2-d", sans-serif;
    font-size: 9.375em;
    font-weight: normal;
    color: #c9de16;
    line-height: 1.0em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45); }
    @media screen and (min-width: 960px) and (max-width: 1290px) {
      .stat__ui--inner h4 {
        font-size: 6.25em; } }

.stat__ui--inner,
.stat__ui:before,
.stat__ui:after,
.stat__ui--outer:before,
.stat__ui--outer:after {
  background: #373737;
  /* Old browsers */
  background: -moz-linear-gradient(top, #373737 0%, #242424 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #373737), color-stop(100%, #242424));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #373737 0%, #242424 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #373737 0%, #242424 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #373737 0%, #242424 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #373737 0%, #242424 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#242424',GradientType=0 );
  /* IE6-9 */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.25), 0 0 5px rgba(0, 0, 0, 0.45);
  border: 1px solid #000000; }

.stat__ui:before {
  content: "";
  display: block;
  width: 95%;
  height: 100px;
  position: absolute;
  top: -5px;
  left: 2.5%;
  z-index: 1; }

.stat__ui:after {
  content: "";
  display: block;
  width: 90%;
  height: 100px;
  position: absolute;
  top: -10px;
  left: 5%;
  z-index: 0; }

.stat__ui--outer:before {
  content: "";
  display: block;
  width: 95%;
  height: 100px;
  position: absolute;
  bottom: -5px;
  left: 2.5%;
  z-index: 1; }

.stat__ui--outer:after {
  content: "";
  display: block;
  width: 90%;
  height: 100px;
  position: absolute;
  bottom: -10px;
  left: 5%;
  z-index: 0; }

.stat__ui--inner {
  position: relative;
  z-index: 3; }

.stat__ui--inner:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #252525;
  border-top: 1px solid #000000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25); }

@media screen and (max-width: 960px) {
  .stats {
    width: 100%;
    float: none; } }
.stats p {
  font-family: "adelle", serif;
  font-size: 1.125em;
  font-weight: normal;
  color: #fff;
  line-height: 1.8em;
  -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
  -moz-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
  -o-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
  margin-top: 30px;
  padding: 0 30px; }
  @media screen and (max-width: 700px) {
    .stats p {
      margin-bottom: 20px; } }

@media screen and (max-width: 700px) {
  .stat__sites,
  .stat__clients {
    width: 100%;
    margin-bottom: 40px; } }

/*! Work
/////////////////////////////////////////////////*/
.content__portfolio--page {
  padding: 55px 5%; }
  .content__portfolio--page .case-study {
    border-bottom: none; }

.portfolio__filters {
  margin-bottom: 10px; }

.filter__wrap {
  border: 1px solid #ccc;
  padding: 15px; }
  .filter__wrap p {
    font-family: "adelle", serif;
    font-size: 1.125em;
    font-weight: normal; }
  .filter__wrap ul {
    display: none; }

.work {
  background-color: #e7e7e7;
  border-top: 3px solid #e7e7e7;
  border-right: 3px solid #e7e7e7;
  border-left: 3px solid #e7e7e7;
  border-bottom: 8px solid #e7e7e7;
  border-radius: 3px; }

.browser--top {
  margin: 5px 0 5px 5px; }
  .browser--top span {
    width: 5px;
    height: 5px;
    display: block;
    background-color: #b3b3b3;
    border-radius: 2.5px;
    float: left;
    margin-right: 2px; }

.work__screen img {
  width: 100%;
  display: block; }

.content__testimonials {
  padding: 50px 5%;
  background-color: #252525;
  text-align: center; }

.content__responsive {
  padding: 20px 5%;
  background-color: #252525;
  text-align: center; }

.call-to-action {
  margin-top: 20px; }
  .call-to-action h2 span {
    display: inline-block;
    vertical-align: middle;
    font-family: "adelle", serif;
    font-size: 2em;
    font-weight: normal;
    line-height: 1em;
    color: #fff;
    padding: 15px 10px 0 0; }
  .call-to-action h2 .button {
    vertical-align: middle; }

.work__wrap--title {
  text-align: center;
  font-family: "adelle", serif;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 1em;
  color: #252525;
  margin-bottom: 40px;
  margin-top: 40px; }

/*! About
/////////////////////////////////////////////////*/
.about__team {
  display: block; }
  .about__team img {
    width: 100%; }

.content__about--staff {
  padding: 0;
  background-color: #252525; }

.staff__wrap {
  margin: 0 !important; }

*[class^="staff__member"] {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 500px; }

.staff__member--clayton {
  background-image: url(../img/clayton.jpg); }

.staff__member--kelly {
  background-image: url(../img/kelly.jpg); }

.staff__member--emily {
  background-image: url(../img/emily.jpg); }

.staff__member--kornel {
  background-image: url(../img/kornel.jpg); }

.staff__member--levi {
  background-image: url(../img/levi.jpg); }

.staff__member--tara {
  background-image: url(../img/tara.jpg); }

.staff__member--chris {
  background-image: url(../img/chris.jpg); }

.staff__member--dan {
  background-image: url(../img/dan.jpg); }

.staff__member--steve {
  background-image: url(../img/steve.jpg); }

.staff__member--amanda {
  background-image: url(../img/amanda.jpg); }

.staff__member--fred {
  background-image: url(../img/fred.jpg); }

/*! Service
/////////////////////////////////////////////////*/
.content__service {
  padding: 100px 5%; }

*[class^="service__links"] {
  text-align: center;
  padding: 25px; }
  *[class^="service__links"] a {
    position: relative;
    display: inline-block;
    font-family: "adelle", serif;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    z-index: 0;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  *[class^="service__links"] a:hover,
  *[class^="service__links"] a:focus {
    color: #8d4600; }
  *[class^="service__links"] a:before {
    content: "";
    position: absolute;
    right: 0;
    top: 5px;
    height: 40px;
    width: 0%;
    background-color: #fff;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    z-index: -1; }
  *[class^="service__links"] a:hover:before,
  *[class^="service__links"] a:focus:before {
    width: 100%; }
  *[class^="service__links"] a:after {
    content: "";
    position: absolute;
    right: -5px;
    top: 5px;
    height: 40px;
    width: 5px;
    background-color: #c46100; }
  *[class^="service__links"] .selected {
    color: #8d4600; }
  *[class^="service__links"] .selected:before {
    width: 100%; }

.service__links--web {
  background-color: #ff7e00; }
  .service__links--web a:hover,
  .service__links--web a:focus {
    color: #8d4600; }

.service__links--development {
  background-color: #b988df; }
  .service__links--development a:hover,
  .service__links--development a:focus {
    color: #906aae; }
  .service__links--development a:after {
    background-color: #906aae; }
  .service__links--development .selected {
    color: #906aae; }

.service__links--marketing {
  background-color: #24cce9; }
  .service__links--marketing a:hover,
  .service__links--marketing a:focus {
    color: #24cce9; }
  .service__links--marketing a:after {
    background-color: #1c9bb1; }
  .service__links--marketing .selected {
    color: #24cce9; }

.service__single--graphic {
  background-color: #ccc;
  height: 500px;
  margin-bottom: 50px; }

.service__single--main p {
  font-family: "adelle", serif;
  font-size: 1.375em;
  line-height: 1.6em;
  margin-bottom: 30px; }

.responsive-example {
  min-height: 200px;
  padding: 100px 5%;
  text-align: left; }

.browser-outer {
  position: relative;
  border: 5px solid #fff;
  border-radius: 5px;
  margin: 0 auto;
  overflow: hidden;
  min-width: 300px; }

.browser-top {
  background: #fff;
  padding: 0px 10px 5px; }

.browser-top span {
  position: relative;
  background-color: #3b3a39;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: inline-block; }

.browser-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 8px 0 3px;
  opacity: 0; }

.push-button {
  background-color: #3b3a39;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 auto; }

.browser-inner {
  width: 100%;
  padding: 40px; }

.large-block {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100px; }

.block-wrap {
  margin-top: 20px; }

.block-4 {
  padding: 0 1%; }

.block-1 {
  width: 25%;
  float: left;
  padding: 0 1%;
  margin-top: 20px; }

.medium-block {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100px; }

.text-block {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 20px;
  margin-top: 20px; }

.half-text-block {
  background-color: rgba(255, 255, 255, 0.6);
  width: 50%;
  height: 20px;
  margin-top: 20px; }

/*! Footer
/////////////////////////////////////////////////*/
footer[role=contentinfo] {
  background-color: #2a5bb3;
  position: relative;
  box-shadow: 0 -2.5px 5px rgba(0, 0, 0, 0.35);
  z-index: 4;
  padding: 60px 5% 0; }

.testimonial__footer {
  text-align: center;
  margin-bottom: 60px; }
  .testimonial__footer p,
  .testimonial__footer i {
    font-family: "adelle", serif;
    font-weight: normal;
    color: #fff;
    line-height: 1.8em;
    -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
    -moz-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
    -o-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45); }
  .testimonial__footer p {
    font-size: 1.25em; }
    @media screen and (min-width: 600px) {
      .testimonial__footer p {
        font-size: 1.875em; } }
  .testimonial__footer i {
    font-size: 1.5em; }

.footer__info {
  background-color: #fff;
  border-top: 5px solid #252525;
  padding: 20px 5%; }
  .footer__info p {
    font-family: "adelle", serif;
    font-weight: normal;
    color: #252525;
    line-height: 1.8em; }
  .footer__info b {
    background-color: #c9de16; }

.social-media {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  padding-right: 0px; }
  @media screen and (min-width: 600px) {
    .social-media {
      width: 20%;
      text-align: left;
      padding-right: 20px; } }

.copyright {
  display: inline-block;
  vertical-align: middle;
  width: 100%; }
  @media screen and (min-width: 600px) {
    .copyright {
      width: 80%; } }

/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/
/*! ==========================================================================
// Media Queries
// =========================================================================*/
/*! ==========================================================================
// Helper classes
// =========================================================================*/
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

/*! Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
// For best results, use your favorite clearfix here.
// -------------------------------------------------------------- */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

/*! ==========================================================================
// Print styles
// =========================================================================*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
