@import "resets.scss";
@import "mixins.scss";
@import "layout.scss";
@import "theme.scss";

/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
html,
body{
	height: 100%;
}
#bgvid {
	position: fixed; 
	right: 0; bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -100;
	background: url(polina.jpg) no-repeat;
	background-size: cover;
}

/*! Header
/////////////////////////////////////////////////*/
header[role=banner]{
	width: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	z-index: 4;
	padding: 30px 5%;
	@include prefix(box-shadow, 0 0 8px rgba(0,0,0,0.25));
	@include prefix(backface-visibility, hidden);
  -webkit-transform: translateZ(0);
}
.branding{
	display: inline-block;
	width: 100%;
	max-width: 253px;
}
nav[role=navigation]{
	float: right;
	margin-top: 8px;
	a{
		font-family: $headlineFont;
		font-size: em(24px,$font-size);
		font-weight: 100;
		
		color: $textColor;
		text-decoration: none;
		text-transform: uppercase;
		margin-left: 25px;
	}
}
/*! Hero unit
/////////////////////////////////////////////////*/
.hero{
	position: relative;
	height: 100%;
	background-color: transparentize($primaryColor, 0.2);
}
.tagline{
	position: absolute;
	bottom: 10%;
	left: 5%;
	i,
	b{
		background-color: $textColor;
		display: inline-block;
		font-family: $headlineFont;
		font-weight: normal;
		line-height: 1.0em;
		color: #fff;
		text-transform: uppercase;
		padding: 15px 20px 5px;
	}
	i{
		font-size: em(80px,$font-size);
		font-style: normal;
		margin-bottom: 20px;
	}
	b{
		font-size: em(116px,$font-size);
		padding: 15px 20px 0px;
		margin-bottom: 20px;
	}
}
.button__cta,
.phone{
	display: inline-block;
	font-family: $headlineFont;
	font-size: em(48px,$font-size);
	font-weight: normal;
	line-height: 1.0em;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px 20px 5px;
}
.phone{
	position: fixed;
	top: 105px;
	right: 5%;
	background-color: $secondaryColor;
	font-size: em(30px,$font-size);
	z-index: -1;
	padding: 10px 20px 5px;
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.05);
}
.button__cta{
	background-color: $secondaryColor;
}

/*! Content module
/////////////////////////////////////////////////*/
*[class^="content"]{
	background-color: #fff;
	padding: 160px 5%;
}
.content__intro{
	padding: 100px 10% 0;
	text-align: center;
	img{
		width: 100%;
		max-width: 1023px;
	}
}
.content__services{
	background-color: $primaryColor;
}
.content__portfolio,
.content__services{
	padding: 160px 10%;
}
.content__portfolio{
	position: relative;
	box-shadow: 0 2.5px 5px rgba(0,0,0,0.35);
	z-index: 1;
}
.intro__sentence{
	width: 100%;
	max-width: 1180px;
	font-family: $altFont;
	font-size: em(40px,$font-size);
	font-weight: normal;
	text-align: center;
	margin: 0 auto 60px;
	a{
		color: $primaryColor;
		text-decoration: none;
	}
}


/*! Home page services
/////////////////////////////////////////////////*/
*[class^="service--"]{
	position: relative;
	background-color: #fff;
	margin: 0 0 30px;
	h3{
		font-family: $altFont;
		font-size: em(38px, $font-size);
		font-weight: normal;
		color: $textColor;
		text-transform: uppercase;
	}
}
.service__sub{
	margin-bottom: 20px;
	a{
		display: inline-block;
		background-color: $altColor1;
		padding: 10px 15px 8px;
		font-family: $altFont;
		font-size: em(16px, $font-size);
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		margin: 0 5px 10px 0;
	}
}
.service__graphic{
	display: none;
	vertical-align: middle;
	overflow: hidden;
	height: 440px;
	img{
		display: block;
		width: auto;
		height: 100%;
	}
	@media screen and (min-width: 1075px){
		@include gridRow(3, 0);
		display: inline-block;
	}
	@media screen and (min-width: 1480px){
		height: auto;
		img{
			width: 100%;
			height: auto;
		}
	}
}
.service__details{
	display: block;
	vertical-align: middle;
	@include gridRow(1, 0);
	padding: 30px;
	p{
		font-family: $altFont;
		font-size: em(18px, $font-size);
		color: $textColor;
		line-height: 1.6em;
	}
	@media screen and (min-width: 1075px){
		@include gridRow(1.50000002, 0);
		display: inline-block;
	}
}
.service--design .service__sub a{
	background-color: $altColor1;
}
.service--development .service__sub a{
	background-color: $tertiaryColor;
}
.service--marketing .service__sub a{
	background-color: $altColor2;
}


/*! Case Studies
/////////////////////////////////////////////////*/
.case-study{
	position: relative;
	width: 100%;
	margin: 0 auto;
	border-bottom: 3px solid #e9e9e9;
	padding: 40px 0;
}
.case-study__info,
.case-study__graphic{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.case-study__info{
	width: 45%;
	padding: 0 20px;
	h3{
		font-family: $headlineFont;
		font-size: em(46px, $font-size);
		font-weight: normal;
		text-transform: uppercase;
		line-height: 1.0em;
	}
	.case-study__type{
		display: block;
		font-family: $altFont;
		font-size: em(22px, $font-size);
		font-weight: normal;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
	p{
		font-family: $altFont;
		font-size: em(18px, $font-size);
		color: $textColor;
		line-height: 1.6em;
	}
}
.case-study__graphic{
	width: 55%;
	padding: 0 20px;
	img{
		width: 100%;
	}
}


/*! Stats
/////////////////////////////////////////////////*/
.content__stats{
	padding: 80px 8%;
	background-image: url(../img/stats-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.tagline__bottom{
	p{
		font-family: $altFont;
		font-size: em(30px, $font-size);
		font-weight: normal;
		color: #fff;
		line-height: 1.8em;
		@include prefix(text-shadow, 2px 2px 2px rgba(0,0,0,0.45));
	}
}
.stat__ui{
	position: relative;
}
.stat__ui--inner{
	position: relative;
	text-align: center;
	padding: 40px 20px 20px;
	z-index: 2;
	h4{
		font-family: $headlineFont;
		font-size: em(150px, $font-size);
		font-weight: normal;
		color: $secondaryColor;
		line-height: 1.0em;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.45);
	}
}
.stat__ui--inner,
.stat__ui:before,
.stat__ui:after,
.stat__ui--outer:before,
.stat__ui--outer:after{
	background: #373737; /* Old browsers */
	background: -moz-linear-gradient(top,  #373737 0%, #242424 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#373737), color-stop(100%,#242424)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #373737 0%,#242424 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #373737 0%,#242424 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #373737 0%,#242424 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #373737 0%,#242424 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#242424',GradientType=0 ); /* IE6-9 */
	@include prefix(border-radius, 4px);
	box-shadow: inset 0 1px 2px rgba(255,255,255,0.25), 0 0 5px rgba(0,0,0,0.45);
	border: 1px solid #000000;
}
.stat__ui:before{
	content: "";
	display: block;
	width: 95%;
	height: 100px;
	position: absolute;
	top: -5px;
	left: 2.5%;
	z-index: 1;
}
.stat__ui:after{
	content: "";
	display: block;
	width: 90%;
	height: 100px;
	position: absolute;
	top: -10px;
	left: 5%;
	z-index: 0;
}
.stat__ui--outer:before{
	content: "";
	display: block;
	width: 95%;
	height: 100px;
	position: absolute;
	bottom: -5px;
	left: 2.5%;
	z-index: 1;
}
.stat__ui--outer:after{
	content: "";
	display: block;
	width: 90%;
	height: 100px;
	position: absolute;
	bottom: -10px;
	left: 5%;
	z-index: 0;
}
.stat__ui--inner{
	position: relative;
	z-index: 3;
}
.stat__ui--inner:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #252525;
	border-top: 1px solid #000000;
	border-bottom: 1px solid rgba(255,255,255,0.25)
}
.stats{
	p{
		font-family: $altFont;
		font-size: em(18px, $font-size);
		font-weight: normal;
		color: #fff;
		line-height: 1.8em;
		@include prefix(text-shadow, 2px 2px 2px rgba(0,0,0,0.45));
		margin-top: 30px;
		padding: 0 30px;
	}
}


/*! Footer
/////////////////////////////////////////////////*/
footer[role=contentinfo]{
	background-color: $primaryColor;
	position: relative;
	box-shadow: 0 -2.5px 5px rgba(0,0,0,0.35);
	z-index: 4;
	padding: 60px 5% 0;
}
.testimonial__footer{
	text-align: center;
	margin-bottom: 60px;
	p,
	i{
		font-family: $altFont;
		font-weight: normal;
		color: #fff;
		line-height: 1.8em;
		@include prefix(text-shadow, 2px 2px 2px rgba(0,0,0,0.45));
	}
	p{
		font-size: em(30px, $font-size);
	}
	i{
		font-size: em(24px, $font-size);
	}
}
.footer__info{
	background-color: #fff;
	border-top: 5px solid #252525;
	padding: 20px 5%;
	p{
		font-family: $altFont;
		font-weight: normal;
		color: $textColor;
		line-height: 1.8em;
	}
	b{
		background-color: $secondaryColor;
	}
}
.social-media{
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	text-align: left;
	padding-right: 20px;
}
.copyright{
	display: inline-block;
	vertical-align: middle;
	width: 80%;
}


/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/



@import "shame.scss";
@import "helpers.scss";