/*!////////////////////////////////////////////////
// THEME
/////////////////////////////////////////////////*/
$font-size: 16px;
@function em($px, $base: $base-font-size){
	@return ($px / $base) * 1em;
}

$primaryColor: #2a5bb3; //blue
$secondaryColor: #c9de16; //green
$tertiaryColor: #b988df; //purple
$altColor1: #ff7e00; //orange
$altColor2: #24cce9; //aqua
$textColor: #252525; //dark charcoal

$headlineFont: "alternate-gothic-no-2-d",sans-serif;
$altFont: "adelle",serif;

.section__title{
	position: relative;
	z-index: 2;
	width: 100%;
	max-width: 600px;
	margin: 0 auto -44px;
	background-color: $secondaryColor;
	font-family: $headlineFont;
	font-size: em(38px,$font-size);
	font-weight: normal;
	line-height: 1em;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 0 15px;
	@media screen and (min-width: 600px){
		font-size: em(58px,$font-size);
		margin: -44px auto -44px;
		padding: 20px 0 10px;
	}
}
*[class^="button"]{
	display: inline-block;
	background-color: $altColor1;
	font-family: $altFont;
	font-size: em(18px,$font-size);
	font-weight: normal;
	line-height: 1.0em;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px 20px 13px;
	margin-top: 30px;
	@include prefix(transition, 0.2s ease-in-out);
	&:hover,
	&:focus{
		background-color: darken($altColor1, 10);
	}
}
.button--sidebar{
	background-color: $altColor1;
	margin-top: 0;
	width: 100%;
	font-size: em(28px,$font-size);
	text-align: center;
	padding: 30px 20px;
	i{
		font-size: 0.7em;
		color: #252525;
		text-transform: lowercase;
		display: block;
	}
	b{
		display: inline-block;
		font-weight: normal;
		color: #fff;

	}
}

*[class^="hero__page"]{
	background-color: $primaryColor;
	background-image: url(../img/hero-page.jpg);
	background-position: center top;
	background-size: cover;
	padding-bottom: 80px;
	text-align: center;
	h1{
		margin-top: 180px;
		background-color: $textColor;
		display: inline-block;
		font-family: $headlineFont;
		font-size: em(42px, $font-size);
		font-weight: normal;
		line-height: 1.0em;
		color: #fff;
		text-transform: uppercase;
		padding: 15px 20px 8px;
		margin-bottom: 20px;
		@media screen and (min-width: 700px){
			font-size: em(62px, $font-size);
			padding: 15px 20px 0px;
		}
		@media screen and (min-width: 1062px){
			font-size: em(92px, $font-size);
		}
	}
	@media screen and (min-width: 942px){
		min-height: 477px;
	}
}
.hero__page--responsive{
	background-image: url(../img/hero-devices.jpg);
}
.page__description{
	width: 100%;
	max-width: 1046px;
	font-family: $altFont;
	font-size: em(18px,$font-size);
	font-weight: normal;
	color: #fff;
	line-height: 1.8em;
	text-align: center;
	margin: 0 auto;
	padding: 0 5%;
	@media screen and (min-width: 700px){
		font-size: em(26px,$font-size);
		padding: 0 5%;
	}
}
.hero__page--about{
	text-align: center;
	margin-top: 97px;
	padding-bottom: 60px;
	background-color: #fff;
	background-image: none;
	h1{
		margin-top: 60px;
		background-color: $textColor;
		display: inline-block;
		font-family: $headlineFont;
		font-size: em(42px, $font-size);
		font-weight: normal;
		line-height: 1.0em;
		color: #fff;
		text-transform: uppercase;
		padding: 15px 20px 8px;
		margin-bottom: 20px;
		@media screen and (min-width: 700px){
			font-size: em(92px, $font-size);
			padding: 15px 20px 0px;
		}
	}
	.page__description{
		color: $textColor;
	}
}
.hero__page--overview{
	margin-top: 97px;
	padding-bottom: 60px;
	background-color: #fff;
	background-image: none;
	img{
		max-width: 100%;
	}
	h1{
		margin-top: -53px;
	}
}
.overview__graphic{
	background-color: $primaryColor;
	padding-top: 60px;
	// min-height: 400px;
}
.hero__page--staff{
	position: relative;
	text-align: left;
	margin-top: 97px;
	padding-bottom: 0;
	background-color: #fff;
	background-image: none;
	min-height: 0;
	overflow: hidden;
	h1{
		margin-top: 0;
		margin-bottom: 0px;
	}
}
.hero__page--case-study{
 
}
.hero__page--vynecrest{
	background-image: url(../img/vynecrest-bg.jpg);
	padding-top: 200px;
	padding-bottom: 0;
	overflow: hidden;
	img{
		width: 95%;
		max-width: 1133px;
	}
}
.hero__page--rrta{
	background-image: url(../img/station.jpg);
	padding-top: 200px;
	padding-bottom: 0;
	overflow: hidden;
	img{
		width: 95%;
		max-width: 1133px;
	}
}
.hero__page--pahc{
	@extend .hero__page--rrta;
	background-image: url(../img/healthcare-bg.jpg);
}

