/*!////////////////////////////////////////////////
// THEME
/////////////////////////////////////////////////*/
$font-size: 16px;
@function em($px, $base: $base-font-size){
	@return ($px / $base) * 1em;
}

$primaryColor: #2a5bb3; //blue
$secondaryColor: #c9de16; //green
$tertiaryColor: #b988df; //purple
$altColor1: #ff7e00; //orange
$altColor2: #24cce9; //aqua
$textColor: #252525; //dark charcoal

$headlineFont: "alternate-gothic-no-2-d",sans-serif;
$altFont: "adelle",serif;

.section__title{
	position: relative;
	z-index: 2;
	width: 100%;
	max-width: 600px;
	margin: -44px auto -44px;
	background-color: $secondaryColor;
	font-family: $headlineFont;
	font-size: em(58px,$font-size);
	font-weight: normal;
	line-height: 1em;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 0 10px;
}
.button__case-study{
	display: inline-block;
	background-color: $altColor1;
	font-family: $altFont;
	font-size: em(18px,$font-size);
	font-weight: normal;
	line-height: 1.0em;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px 20px 13px;
	margin-top: 30px;
}